body{
  font-family : "Open sans" ;
  color:#F4F3F3;
  background-color: #333333
}

body{
  font-family : "Open sans" ;
  color:grey;
  background-color: #F4F3F3
}

.list-inline li{
  display: inline-block;
}

.no-padding{
  padding: 0px;
}

.no-margin{
  margin:0px;
}

.logo{
  font-size:20px;
  font-weight: bold;
}


.logo2{
  font-size:12px;
  font-weight: bold;
}

.castle{
  font-size: 35px;
  padding-left: 5px;
}

.castle2{
  font-size: 22px;
}

.brand-padding{
  padding: 1em 1em;
}

.brand-padding2{
  padding-left: 1em;
}


.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  background-color: rgba(0, 0, 0, 0.7);
  color: grey;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}


#wrapper{
  position:absolute;
  right : 10%;
  bottom : 10%;
  text-align: center;
  color: white;
  text-shadow : 2px 2px 4px rgba (0, 0, 0, 0.5);
  }

#wrapper h1{
   font-size: 4vw;
}

#wrapper h2{
   font-size: 2vw;
}

.resa{
  font-size: 2vw;
}
.resa2{
  font-size: 3vw;
}


.descrip{
  font-size: 15px;
}

.spacer{
  height: 4em;
}

